:root {
    --brand-color-iris: #4d5ae5;
    --active-ocean: #404BBF;
    --headings-navy-blue: #2E2F42;
    --text-slate: #434455;
    --white: #FFFFFF;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;
    --hero-bg-grey: #2E2F42;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--text-slate);
    background-color: #FFF;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
}

.lost-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/**------------------Header--------------*/

.header{
    border-bottom: 1px solid var(--cornflower);
    background: var(--white);
}

.header-container {
    display: flex;
}

.page-nav{
    display: flex;
    align-items: center;
}

.logo-main {
    color: var(--brand-color-iris);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding: 24px 0;
    display: block;
    margin-right: 76px;
}

.logo-accent {
    color: var(--headings-navy-blue);
}

.nav-menu {
    display: flex;
    gap: 40px;
}

.page-link {
    color: var(--headings-navy-blue);
    font-weight: 500;
    padding: 24px 0;
    display: block;
}

.page-link:hover,
.page-link:focus {
    color: var(--active-ocean);
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
}
.contacts-link {
    color: var(--text-slate);
    display: block;
    padding: 24px 0;
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--active-ocean);
}

/**------------ Main Studio-----------*/

.title-bloc {
    padding: 188px 0;
    background-color: var(--hero-bg-grey);
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)),
    url(/images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.main-title {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
    margin: 0 auto;
    
}

.button-title {
    color: var(--white);
    background-color: var(--brand-color-iris);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
    padding: 16px 32px;
    border: 0;
    border-radius: 4px;
    margin-top: 48px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    display: block;
    min-width: 169px;
}

.button-title:hover,
.button-title:focus {
    background-color: var(--active-ocean);
}

/**------------Section2-----------*/

.values-bloc{
    padding: 120px 0;
}

.values-list{
    display: flex;
    gap: 24px;
}

.values-items{
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.sub-title {
    color: var(--headings-navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

/**-----------Section3------------ */

.doing-bloc{
    padding-bottom: 120px;
}

.parts-title {
    color: var(--headings-navy-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.doing-list{
    display: flex;
    gap: 24px;
}

.doing-items{
    flex-basis: calc((100% - 3 * 16px) / 3);
}

/**-----------Section4------------ */
.team-bloc {
    background-color: var(--cloud);
    padding: 120px 0;
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 72px;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
}

.team-card {
    background-color: var(--white);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-card-text {
    padding: 32px 16px;
    text-align: center;
}

/**----------Footer----------------*/

/**__ glue footer*/
.page-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.lower-bloc {
    background-color: var(--headings-navy-blue);
    padding: 100px 0;
}
.lower-bloc .logo-main {
    display: inline-block;
    padding: 0;
    margin-bottom: 16px;
    margin-right: 0;
}

.lower-text {
    color: var(--cloud);
    font-weight: normal;
    max-width: 264px;
}

.logo-accent-lower {
    color:var(--cloud);
}

/**----------Portfolio*------------*/

.portfolio-section{
    padding: 96px 0 120px 0;
}

.filter-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.filter {
    color: var(--brand-color-iris);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background-color: var(--cloud);
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background-color: var(--cloud);
}

.filter:hover,
.filter:focus {
    color: var(--white);
    background-color: var(--active-ocean);
    border: 1px solid transparent;
}

.project-card-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    align-content: center;
}

.project-card-items {
    flex-basis: calc((100% - 48px) / 3);
}

.project-card-text{
    padding: 32px 16px;
    border-right: 1px solid var(--cornflower);
    border-bottom: 1px solid var(--cornflower);
    border-left: 1px solid var(--cornflower);
}

.text {
    color: var(--text-slate);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

