:root {
    --brand-color-iris: #4d5ae5;
    --active-ocean: #404BBF;
    --headings-navy-blue: #2E2F42;
    --text-slate: #434455;
    --white: #FFFFFF;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;
    --hero-bg-grey: #2E2F42;
    --subtle-text: #8E8F99;
    --success: #31D0AA;
    --modal-background: #FCFCFC;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--text-slate);
    background-color: #FFF;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
}

.lost-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/**------------------Header--------------*/

.header{
    border-bottom: 1px solid var(--cornflower);
    background: var(--white);
}

.header-container {
    display: flex;
}

.page-nav{
    display: flex;
    align-items: center;
}

.logo-main {
    color: var(--brand-color-iris);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding: 24px 0;
    display: block;
    margin-right: 76px;
}

.logo-accent {
    color: var(--headings-navy-blue);
}

.nav-menu {
    display: flex;
    gap: 40px;
}

.page-link {
    color: var(--headings-navy-blue);
    font-weight: 500;
    padding: 24px 0;
    display: block;
    position: relative;
}

.page-link:hover,
.page-link:focus {
    color: var(--active-ocean);
}
.page-link.active{
    color: var(--active-ocean);
}
.page-nav .page-link.active::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--active-ocean);
    position: absolute;
    bottom: 0;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
}
.contacts-link {
    color: var(--text-slate);
    display: block;
    padding: 24px 0;
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--active-ocean);
}

/**------------ Main Studio-----------*/

.title-bloc {
    padding: 188px 0;
    background-color: var(--hero-bg-grey);
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)),
    url(/images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-title {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
    margin: 0 auto;
    
}

.button-title {
    color: var(--white);
    background-color: var(--brand-color-iris);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
    padding: 16px 32px;
    border: 0;
    border-radius: 4px;
    margin-top: 48px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    display: block;
    min-width: 169px;
}

.button-title:hover,
.button-title:focus {
    background-color: var(--active-ocean);
}

/**----------Modal--------------- */
.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    
    
}
.modal-content{
    background-color: var(--modal-background);
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    width: 408px;
        height: 584px;
        margin-top: 80px;
        margin-bottom: 13px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
}
.btn-close{
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.10);
}
.btn-icon-close{
    width: 100%;
    height: 100%;
    fill: var(--headings-navy-blue);
}

/**------------Section2-----------*/

.values-bloc{
    padding: 120px 0;
}

.values-list{
    display: flex;
    gap: 24px;
}

.values-items{
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.values-icon-wrap{
    display: flex;
    background-color: var(--cloud);
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;

}

.sub-title {
    color: var(--headings-navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

/**-----------Section3------------ */

.doing-bloc{
    padding-bottom: 120px;
}

.parts-title {
    color: var(--headings-navy-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.doing-list{
    display: flex;
    gap: 24px;
}

.doing-items{
    flex-basis: calc((100% - 3 * 16px) / 3);
}

/**-----------Section4------------ */
.team-bloc {
    background-color: var(--cloud);
    padding: 120px 0;
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 72px;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
}

.team-card {
    background-color: var(--white);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 0;
    text-align: center;
}

.team-link-list{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-link-item{
    max-width: 40px;
    max-height: 40px;
    background-color: var(--brand-color-iris);
    border-radius: 50%;
}

.team-link-item:hover,
.team-link-item:focus{
    background-color: var(--active-ocean);
}

.team-social-icon{
    width: 100%;
    height: 100%;
    padding: 12px;
    fill: var(--cloud);
}

/**--------------Section5----------**/

.customers-bloc{
    padding: 120px 0;
}

.customers-list{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.customers-icon{
    fill:var(--subtle-text);
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--subtle-text);
    padding: 16px 32px;
}
.customers-icon:hover,
.customers-icon:focus{
    fill: var(--active-ocean);
    border-color: var(--active-ocean);
}
/**----------Footer----------------*/

/**__ glue footer*/
.page-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}
/* end */

.lower-bloc {
    background-color: var(--headings-navy-blue);
    padding: 100px 0; 
}
.footer-container{
    display: flex;
    gap: 120px;
    justify-content: flex-start;
}
.lower-bloc .logo-main {
    display: inline-block;
    padding: 0;
    margin-bottom: 16px;
    margin-right: 0;
}

.lower-text {
    color: var(--cloud);
    font-weight: normal;
    max-width: 264px;
}

.logo-accent-lower {
    color:var(--cloud);
}
.footer-title{
    color: var(--white);
    font-weight: 500;
    margin-bottom: 16px;
}
.footer-list{
    display: flex;
    gap: 16px;
    
}
.footer-item{
    max-width: 40px;
    max-height: 40px;
    background-color: var(--brand-color-iris);
    border-radius: 50%;
}
.footer-icon{
    fill: var(--cloud);
    padding: 8px;
}
.footer-item:hover,
.footer-item:focus{
    background-color: var(--success);
}

/**----------Portfolio*------------*/

.portfolio-section{
    padding: 96px 0 120px 0;
}

.filter-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.filter {
    color: var(--brand-color-iris);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background-color: var(--cloud);
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background-color: var(--cloud);
}

.filter:hover,
.filter:focus {
    color: var(--white);
    background-color: var(--active-ocean);
    border: 1px solid transparent;
}

.project-card-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    align-content: center;
}

.project-card-items {
    flex-basis: calc((100% - 48px) / 3);
}

.project-card-text{
    padding: 32px 16px;
    border-right: 1px solid var(--cornflower);
    border-bottom: 1px solid var(--cornflower);
    border-left: 1px solid var(--cornflower);
}

.text {
    color: var(--text-slate);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

